
<div class="row">
  <div class="col">
    <app-admin-nav></app-admin-nav>

  </div>
  <div class="col-md-10 col-lg-10">
    <div class="row mt-5">
      <div class="col">
        <div class="card b-0 text-center text-white shadow p-3 mb-5 bg-success rounded">
          <div class="card-title">
            <div class="fa fa-3x fa-money"></div>
          </div>
          <div class="card-subtitle">
            Given Amount
          </div>
          <div class="card-body">
            <h1>₹0</h1>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card b-0 text-center text-white shadow p-3 mb-5 bg-info rounded">
          <div class="card-title">
            <div class="fa fa-3x fa-users"></div>
          </div>
          <div class="card-subtitle">
            Members
          </div>
          <div class="card-body">
            <h1>{{memberCount}}</h1>
          </div>
          <div>
            <Button type="button" class="btn btn-outline-light text-dark" data-toggle="modal" data-target="#Add_Member"><i class="fa fa-user-plus"></i> <strong> Member</strong></Button>
          </div>
        </div>

        <!-- Add Member Modal -->
        <div class="modal fade" id="Add_Member">

          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title">Add Member</h4>
                <Button type="button" class="close" data-dismiss="modal">&times;</Button>
         
              </div>

              <div class="modal-body">
                <form class="form" #addMemberForm="ngForm" (ngSubmit)="AddMember(addMemberForm)">
                  <div class="form-group">
                    <label for="Member_Name"> <strong>Name</strong> </label>
                    <input type="text" class="form-control" name="Member_Name" placeholder="Enter Member Name" ngModel />
                  </div>
                  <div class="form-group">
                    <label for="Member_Email"> <strong>Email</strong></label>
                    <input type="email" class="form-control" name="Member_Email" placeholder="Enter Member Email" ngModel required/>
                  </div>
                  <div class="row">
                    <div class="col align-content-center text-center">
                      <Button class="btn btn-success">Done</Button>
                    </div>
                    <div class="col align-content-center text-center">
                      <Button class="btn btn-danger" data-dismiss="modal">Close</Button>
                    </div>
                  </div>
                  <br /><br />
                </form>
                <div *ngIf="showDiv; then thenBlock else elseBlock"></div>

                <ng-template #thenBlock>
                  <div [hidden]="!showDiv" class="alert alert-success alert-dismissible text-center">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <p><strong>{{displymsg}}</strong></p>
                  </div>
                </ng-template>

                <ng-template #elseBlock>
                  <div [hidden]="showDiv==null" class="alert alert-danger alert-dismissible text-center">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <p><strong>{{displymsg}}</strong></p>
                  </div>
                </ng-template>
              </div>

             
            </div>
          </div>

          
        </div>

        <!-- Add Member Modal -->

      </div>

      <div class="col">
        <div class="card b-0 text-center text-white shadow p-3 mb-5 bg-danger rounded">
          <div class="card-title">
            <div class="card-title">
              <div class="fa fa-3x fa-money"></div>
            </div>
            <div class="card-subtitle">
              Barrowed Amount
            </div>
          </div>
          <div class="card-body">
            <h1>₹0</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


