
<div class="sidebar">
  <a class="active">
    <i class="fa fa-lg fa-bars mr-3"></i>SPLITBILL
  </a>
  <a (click)="Dashboard()">
    <i class="fa fa-home mr-2"></i>Dashboard
  </a>
  <a (click)="Members()">
    <i class="fa fa-users  mr-2"></i>Members
  </a>
  <a (click)="Transactions()">
    <i class="fa fa-users  mr-2"></i>Transactions
  </a>
  <a (click)="Logout()">
    <i class="fa fa-power-off mr-2"></i>Logout
  </a>
  <!--<a href="#about">About</a>-->
</div>



