
body {
  background: linear-gradient(#fff,#fff,#ffffff);
  font-family: Barlow;
}


.login-caption i{
  font-size: 30px;
}

.btn-lgn {
  color: white;
  width: 150px;
  background: #0ec46b;
  border-radius: 25px;
  border: 0px;
}

.login-form{
  margin-top: 120px;
}

label {
  font-weight: 400;
  font-size: 17px;
  font-family: Barlow;
}
