<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title></title>
</head>
<body>
  <div class="container-fluid">
    <div class="row">
      <div>
        <app-side-navigation></app-side-navigation>
      </div>
      <div class="col-lg-10 col-md-10 col-sm-8 mx-auto">
        <div class="row">
          <div class="col-sm-5">

          </div>
          <div class="col-sm-4 login-form">
            <div class="card shadow p-4 rounded">
              <div class="text-center card-title registration-caption">
                <i class="fa fa-users"></i><h3><strong>Registration</strong></h3>
              </div>
              <div class="card-body">
                <form class="form" #registrationForm="ngForm" (ngSubmit)="submitRegistrationForm(registrationForm)">
                  <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" name="name" class="form-control" placeholder="Enter your Name" ngModel />
                  </div>
                  <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" name="email" class="form-control" placeholder="Enter your email" ngModel />
                  </div>
                  <div class="form-group">
                    <label for="user-password">Password</label>
                    <input type="password" name="password" class="form-control" placeholder="Enter your Password" ngModel />
                  </div>
                  <div class="text-center mt-4">
                    <Button class="btn btn-success btn-lgn">Register</Button>
                  </div>
                </form>

              </div>
              <br />

              <div *ngIf="showDiv; then thenBlock else elseBlock" class="mt-2"></div>

              <ng-template #thenBlock>
                <div [hidden]="!showDiv" class="alert alert-success alert-dismissible text-center">
                  <button type="button" class="close" data-dismiss="alert">&times;</button>
                  <p><strong>Registration Successful</strong></p>
                </div>
              </ng-template>

              <ng-template #elseBlock>
                <div [hidden]="showDiv==null" class="alert alert-danger alert-dismissible text-center">
                  <button type="button" class="close" data-dismiss="alert">&times;</button>
                  <p><strong>Registration Failed</strong></p>
                </div>
              </ng-template>


            </div>

            </div>
         
          <div class="col-sm-3">

          </div>
        </div>

      </div>
    </div>
  </div>

</body>
</html>






