
body{
  background: linear-gradient(#fff,#fff,#ffffff);
  font-family: Barlow;
}


.login-form{
  margin-top:70px;
}

.registration-caption {
  font-weight: 100;
  font-size: 30px;
}

.btn-lgn {
  width: 150px;
  background: #0ec46b;
  border-radius: 25px;
  border: 0px;
}


label {
  font-weight: 400;
  font-size: 17px;
  font-weight: bold;
}






