<div class="row">

  <div class="col-md-2 col-lg-2">
    <app-admin-nav></app-admin-nav>
  </div>

  <div class="col content p-0">
    <div class="container-fluid text-center mt">
      <p class="display-4" style="font-size:45px">Member Details</p>
    </div>
    <div class="container-fluid mt-3" *ngFor="let item of Members; index as i" id="members_container">
      <!-- Member Card -->
      <div class="card member-Card m-2">

        <div class="card-body">
          <div class="row">
            <div class="col">
              <div class="card-title"><h4>{{item.memberName}}<button class="btn text-right"><i class="fa fa-edit"></i></button></h4></div>
              <h6 class="text-success display-4" style="font-size:18px;">Given Amount :{{item.givenAmount}}</h6>
              <h6 class="text-danger display-4" style="font-size:18px;">Borrowed Amount :{{item.barrowedAmount}}</h6>
            </div>
            <!-- Transaction CARD -->
            <div class="col">
              <div class="collapse multi-collapse" id="List-{{ i }}">
                <div class="card card-body transactioncard">
                  <form class="form" #AddTransactions="ngForm" (ngSubmit)="AddTransactionsMember(AddTransactions)">
                    <div class="form-group" hidden>
                      <label for="email"><strong>To</strong></label>
                      <input type="email" class="form-control" name="email" ngModel="{{item.memberEmail}}" readonly />
                    </div>

                    <div class="form-group" hidden>
                      <label for="mname"><strong>To</strong></label>
                      <input type="text" class="form-control" name="mname" ngModel="{{item.memberName}}" readonly />
                    </div>

                    <div class="form-group">
                      <label for="note"> <strong>Note</strong></label>
                      <input type="text" class="form-control" name="note" placeholder="Note" ngModel />
                    </div>

                    <div class="form-group">
                      <label for="Amount"> <strong>Amount</strong></label>
                      <input type="number" class="form-control" name="Amount" placeholder="Amount in rupee" ngModel />
                    </div>

                    <div class="form-group">
                      <label for="Transtype"><strong>Type of Transaction</strong></label>
                      <select class="custom-select form-control" name="Transtype" ngModel required>
                        <option value="Gave">I Gave</option>
                        <option value="Barrowed">I Brrowed</option>
                      </select>
                    </div>

                    <div class="row">
                      <div class="col align-content-center text-center">
                        <a href="#List-{{ i }}" class="btn btn-block btn-danger" data-toggle="collapse">Cancel</a>
                      </div>
                      <div class="col align-content-center text-center">
                        <Button class="btn btn-block btn-success">Add</Button>
                      </div>
                    </div>
                  </form>
                </div>
                <div *ngIf="showDiv; then thenBlock else elseBlock"></div>

                <ng-template #thenBlock>
                  <div [hidden]="!showDiv" class="alert alert-success alert-dismissible text-center">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <p><strong>Transaction Successful</strong></p>
                  </div>
                </ng-template>

                <ng-template #elseBlock>
                  <div [hidden]="showDiv==null" class="alert alert-danger alert-dismissible text-center">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <p><strong>Transaction Failed</strong></p>
                  </div>
                </ng-template>
              </div>
            </div>
            <!-- Transaction CARD -->
            <div class="col">
              <div class="text-right">

                <Button class="btn text-right" (click)="DeleteMember(item.memberEmail)"><i class="fa fa-2x fa-trash text-danger"></i></Button>
                <br /><br />
                <a href="#List-{{ i }}" class="btn btn-outline-success" data-toggle="collapse">New Transaction</a>
                <br /><br />
              </div>



            </div>

          </div>
          <div class="row mt-2 bg-light">
            <div class="col-12 text-right">
              <Button class="btn">Know More >></Button>
            </div>
          </div>

        </div>
      </div>

    </div>



  </div>
</div>

