
<div class="sidebar">
  <a class="active">
    <i class="fa fa-lg fa-bars mr-3"></i>SPLITBILL
  </a>
  <a (click)="Home()">
    <i class="fa fa-home mr-2"></i>Home
  </a>
  <a (click)="Registration()">
    <i class="fa fa-users  mr-2"></i>Register
  </a>
  <a (click)="Login()">
    <i class="fa fa-user  mr-2"></i>Login
  </a>
  <a (click)="Settings()">
    <i class="fa fa-power-off mr-2"></i>Settings
  </a>

</div>





