<div class="row">

  <div class="col-md-2 col-lg-2">
    <app-admin-nav></app-admin-nav>
  </div>
 
  <div class="col-lg-10 col-md-10 content p-0">
    <div class="row">
      <div class="col-lg-12 col-md-12 text-right">
        <Button class="btn text-right mr-3" (click)="refresh()"><i class="fa fa-2x fa-refresh text-success"></i></Button>
      </div>
    </div>
 
    <table class="table table-striped">
      <tr class="bg-dark text-white">
        <th>Member Name</th>
        <th>Given Amount</th>
        <th>Barrowed Amount</th>
        <th>Note</th>
        <th>Date</th>
        <th>Actions</th>
      </tr>
      <tr *ngFor="let transaction of Transactions">
        <td>{{transaction.personName}}</td>
        <td>{{transaction.givenAmount}}</td>
        <td>{{transaction.barrowedAmount}}</td>
        <td>{{transaction.note}}</td>
        <td>{{transaction.dateDayTime}}</td>
        <td>
          <Button class="btn text-right" (click)="DeleteTransaction(transaction.transactionId)"><i class="fa fa-2x fa-trash text-danger"></i></Button>
        </td>
      </tr>
    </table>
  </div>
</div>

